<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/startpage"
        android:label="Uj_Clinic"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Hope_Uj_Clinic"
        tools:targetApi="31">
        <activity
            android:name=".ConditionActivity"
            android:exported="false" />
        <activity
            android:name=".ConditionClassifierActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDdYSep7ZR53CGJFh3a4AhVApxPU6no0x8" />

        <activity
            android:name=".my_flow.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".my_flow.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".my_flow.OthersActivity"
            android:exported="true" />
        <activity
            android:name=".my_flow.YourselfActivity"
            android:exported="true" />
        <activity
            android:name=".my_flow.NewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".my_flow.EmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".DetilseClinec"
            android:exported="false" />
        <activity
            android:name=".MedcalHosutry"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.AddDataInClienc"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.viscalEmployee"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.ShowViscalEmployee"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.ShowByEmployee"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.DetilseClinecEmployee"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.BookingByEmployee"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.AppointmentsEmployee"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.AccountUserByEmployee"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.Users"
            android:exported="false" />
        <activity
            android:name=".Employee.Activitys.HomeEmplyee"
            android:exported="false" />
        <activity
            android:name=".Patient.Detilse"
            android:exported="false" />
        <activity
            android:name=".Patient.VitalSigns"
            android:exported="false" />
        <activity
            android:name=".Patient.ShowBooking"
            android:exported="false" />
        <activity
            android:name=".Patient.Medicalhistory"
            android:exported="false" />
        <activity
            android:name=".Patient.Electronic_Card"
            android:exported="false" />
        <activity
            android:name=".Patient.Booking"
            android:exported="false" />
        <activity
            android:name=".Patient.Appointments"
            android:exported="false" />
        <activity
            android:name=".Patient.AccountUser"
            android:exported="false" />
        <activity
            android:name=".Patient.UserHome"
            android:exported="true" />
        <activity
            android:name=".Admin.Admin"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>